    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-areas: 
            "header header"
            "main aside";
        grid-template-columns:  75% 25%; 
        grid-template-rows: auto 1fr;
        height: 100vh;
    }

    header {
        grid-area: header;
        
    }
    
    main { 
        grid-area: main;
        background-color: #2e2e2e;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, auto); 
        gap: 15px;
        width: 60%; 
        margin: 0 auto; 
    }
    .testimonios {
        display: contents;
    }
    article {
    
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    img {
        width: 100%;
        
        object-fit: cover;
    }
    h1{
        font-weight: bold;
        margin: 10px 0;
        color: rgb(200, 255, 0);
    }
    article p{
        color: rgb(231, 231, 231);
    }
    
    aside {
        grid-area: aside;
        background-color: #ddd;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
        border-radius: 10px;
    }
    .precio {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .whatsapp-button {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #25D366;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }
    .whatsapp-button img {
        width: 24px;
        height: 24px;
    }

    .whatsapp-button:hover {
        transform: scale(1.1);
    }
    @media (max-width: 768px) {
        body {
            grid-template-areas: 
                "header"
                "aside"
                "main";
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto auto; 
            height: auto;
        }
        li{
            display: none;
        }
    
        main {
            width: 90%; 
            padding: 10px;
        }
    
        aside {
            width: 95%; 
            padding: 10px;
            border-radius: 0;
        }
    
        .whatsapp-button {
            width: 90%; 
            justify-content: center;
        }
    }
    
    